.containerCharacters {
  border: blue 1px solid;
  width: 235px;
  padding: 0 6px 16px;
  cursor: pointer;
}

.wrapCharacters {
  flex-wrap: wrap;
  width: 100%;
}

.wrapCharacters > img {
  width: 100%;
}

.characterContainer {
  border: green 1px solid;
}
