header {
  width: 100%;
  display: flex;
  flex-direction: row;
  border: yellow 1px solid;
}

.header {
  background-color: #ed1c24;
  color: white;
}

.logoHeader {
  width: 250px;
  height: 100px;
  padding: 15px;
  flex: 2;
}

.divButton {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.charactersButton {
  flex: 1;
  background-color: white;
  border: none;
  margin: 10px;
  border-radius: 45px;
  font-size: 30px;
}

.comicsButton {
  flex: 1;
  background-color: white;
  border: none;
  margin: 10px;
  border-radius: 45px;
  font-size: 30px;
}

.titleButton {
  flex: 5;
  align-items: center;
  align-content: center;
  border: blue 1px solid;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.signinButton {
  flex: 1;
}

.signupButton {
  flex: 1;
}
