header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.header {
  background-color: #ed1c24;
  color: #f8f005;
  font-weight: 100;
}

.header .button-49 {
  width: 150px;
  height: 85px;
  margin: 0 10px 0 10px;
}

.logoHeader {
  width: 250px;
  height: 100px;
  flex: 1;
  cursor: pointer;
}

.divButton {
  display: flex;
  flex-direction: row;
  flex: 3;
  align-items: center;
  align-content: center;
  margin: 10px;
  padding: 10px;
}

.charactersButton {
  flex: 1;
  background-color: white;
  border: none;
  margin: 10px;
  border-radius: 45px;
  font-size: 30px;
}

.comicsButton {
  flex: 1;
  background-color: white;
  border: none;
  margin: 10px;
  border-radius: 45px;
  font-size: 30px;
}

.titleButton {
  flex: 4;
  align-items: center;
  align-content: center;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.buttons {
  flex: 2;
  margin-right: 10px;
}

.buttonSign {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.signCol {
  margin: 10px 0 10px 0 !important;
  width: 120px !important;
}

.signupButton {
  flex: 1;
  margin: 10px 0 10px 0;
}

.signinButton {
  flex: 1;
  margin: 10px 0 10px 0;
}

.buttonSignOut {
  flex: 2;
}
